*{
margin: 0;
padding: 0;
}

.container{
	margin: auto;
	width: 1140px;
}

.header{
	width: 100%;
	margin-top: 12px;
	margin-bottom: 12px;
}

.nav{
	display: flex;
	justify-content: space-between;
}

.logo img{
	width: 100px;
}
.menu ul li{
	list-style: none;
	margin-right:8px; 	
	margin-left:8px; 	
	display: inline-block;
	line-height: 70px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #1e266d;
}
.menu-btn{
    margin-top: 18px;
}
.menu-btn button{
	background-color: #2e367d;
	color: white;
	border: none;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}
.menu-btn button:hover{
	background-color: #00AEEF;
}

/*banner css
*/

.banner{
	width: 100%;
}
.banner-content{
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;

}
.banner-left{
	margin-bottom: 30px;
	margin-top: 60px;
}
.banner-left h1{
	color: #1e266d;
	font-size: 45px;
	line-height: 50px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;

}
.banner-left p{
	color: #1e266d;
	font-size: 22px;
	line-height: 28px;
	font-weight: 300;
	margin-top:20px ;
	margin-bottom: 20px;
}
.banner-left button{
	background-color: #2e367d;
    color: white;
    border: none;
    border-radius: 6px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 32px;
    padding-left: 32px;
    font size: 16px;
}
.banner-left button:hover{
	background-color: #00AEEF;
}
.banner-right img{
	width: 100%;
	height: auto;
}

.banner2 .banner-left{
	flex-basis: 40%;
}
.banner2 .banner-right{
	flex-basis: 60%;
}






.about{
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
}
.about-content h2{
	font-size: 28px;
    font-weight: 700;
    color: #1e266d;
    line-height: 36px ;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}
.about-content p{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
	margin-top: 0px;
	color:#333 ;
	line-height: 28px;
	font-weight: 400;
}
.about-content h3{
	color: #333;
	font-size: 26px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 10px;
}
.address-content{
	display: flex;
	background-color: #2e367d;
	border-radius: 8px;
	padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 60px;
}

.address-left{
	flex-basis: 50%;
}
.address-right{
	flex-basis: 50%;
}
.address-left h3, .address-right h3{
	color: #fff;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
	line-height: 24px;
	font-weight: 700;
}
.address-left p, .address-right p{
	color: #fff;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 12px;
}
.footer{
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer-content{
	display: flex;
	padding-left: 16px;
	padding-right: 16px;
}
.footer-1, .footer-2, .footer-3, .footer-4{
	flex-basis: 25%;
}
.footer-1 h5, .footer-2 h5, .footer-3 h5, .footer-4 h5{
    color: #1e266d;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}
.footer-1 p, .footer-2 p{
	color: #91a3bb;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
.footer-3 ul li,.footer-4 ul li{
	list-style: none; 	
	line-height: 28px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #91a3bb;
}
